table {
  margin: auto;
  border: 2px solid black;
   border-collapse: collapse;
}
td,
th {
  width: 100px;
  height: 100px;
  text-align: center;
  border:1px solid black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #1e293b;
}
td img {
  width: 80px;
  height: 80px;
  display: none; /* hidden until revealed */
}

td.revealed img {
  display: block;
}

td.matched {
  background: lightgreen;
}
