table {
  margin: auto;
  border: 2px solid black;
  border-collapse: collapse;
}
#restartBtn {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3b82f6;
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

td,
th {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #1e293b;
  perspective: 1000px;
}
td img {
  width: 80px;
  height: 80px;
  display: none; /* hidden until revealed */
}

td.revealed img {
  display: block;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

td.matched {
  background: lightgreen;
}
